
<div class="container">
    <h5>Add New Master</h5>
 <form [ngFormModel]="masterForm" #f="ngForm" (submit)="addMaster(f.value)">
    <div class="form-group">
    <label>Organization</label>
    <input type="text" ngControl="organization" disabled>
    </div>  
    <div class="form-group">
    <label>Name</label>
    <input type="text" ngControl="name">
    </div> 
    <div class="form-group">
    <label>Masters</label>
    <master-form></master-form>
    <input type="text" ngControl="masters">
    </div> 
    <div class="form-group">
    <label>Participants</label>
    <participant-form></participant-form>
    <input type="text" ngControl="participants">
    </div>       

    <button>Create</button>
</form>
   
</div> 