
<div class="container">
    <h5>Add New Master</h5>
 <form [ngFormModel]="masterForm" #f="ngForm" >
    <div class="form-group">
    <label>Full Name</label>
    <input type="text" ngControl="name">
    </div>  
    <div class="form-group">
    <label>Email</label>
    <master-form></master-form>
    <input type="email" ngControl="email">
    </div> 
    <div class="form-group">
    <label>Phone Number</label>
    <input type="text" ngControl="phone">
    <!--<phone-input></phone-input>-->
    </div> 
    <div class="form-group">
    <label>ID Number</label>
    <input type="text" ngControl="ID">
    </div>   
    <!--<div class="form-group">
    <label>Activition Code</label>
    <input type="text" ngControl="activitionCode">
    </div>  -->

    <button (click)="addMasterToEventForm(f.value)">Add Master to event</button>
</form>
   
</div> 
