
<div class="container" *ngIf="organization.owner">
    <h2>Organization Details</h2>
    <div>
        <label>Owner:</label>
        <p>{{organization.owner.emails[0].address}}</p>
    </div> 
    <div>
        <label>Name:</label>
        <p>{{organization.name}}</p>
    </div> 
    <div>
        <label>User Identification Method:</label>
        <p>{{organization.UIDM}}</p>
    </div> 
    <div>
        <label>User Validation Method:</label>
        <p>{{organization.UVM}}</p>
    </div> 
    <div>
        <label [routerLink]="['/OrganizationEventsManagmantPage', {organizationId: organization._id}]">Events:</label><button>+</button>
        <!--<event-list [organizationId]="organization._id"></event-list>-->
    </div> 
    <div>
        <label [routerLink]="['/OrganizationUsersManagmantPage', {organizationId: organization._id}]">Users</label>
    </div> 
   <button [routerLink]="['/DashboardPage']">Back</button>
</div> 

